@import '../../marketplace.css';

.root {
}

.marketplaceColorStroke {
  stroke: var(--marketplaceColor);
  fill: var(--marketplaceColor);
}

.marketplaceColorStrokeFav {
  stroke: var(--marketplaceColor);
  fill: red;
}