@import '../../marketplace.css';

.ourStoryContainer {
    background: url('images/GoodSpot-Footer.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
  
    /* background-color: var(--marketplaceColor); */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  
    min-height: 200px;
  
    @media (--viewportMedium) {
      min-height: 450px;
    }  
  }
  
  .ourStoryTitle {
    color: var(--matterColorLight);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;

    @media (--viewportMedium) {
      font-size: 35px;      
    }  
  }
  
  .ourStoryLink {
    /* Font */
    @apply --marketplaceBodyFontStyles;
    color: var(--matterColorLight);
    transition: var(--transitionStyleButton);
    text-decoration-line: underline;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
  
    &:hover {
      color: var(--matterColor);
      text-decoration: none;
    }
  
    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 35px;
    }
  }